<ActionBar backgroundColor="#E91E63" color="white"  title="Login" class="action-bar"> 
        <NavigationButton text="Cofnij" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<GridLayout backgroundColor="#03DAC6" rows="*,40">
    <ScrollView row="0" backgroundColor="#03DAC6" class="page">
        <StackLayout [formGroup]="loginForm">
            <TextField formControlName="login" hint="Login"></TextField>
            <TextField formControlName="password" hint="Hasło"></TextField>
        </StackLayout>
    </ScrollView>
    <Button row="1" backgroundColor="#018786" color="white" text="Zaloguj" (tap)="login()"></Button>
</GridLayout>
