<ActionBar backgroundColor="#E91E63" color="white" title="Zakończenie seta" class="action-bar"> 
        <NavigationButton text="Cofnij" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<GridLayout backgroundColor="#03DAC6" rows="*,40">
    <ScrollView row="0" backgroundColor="#03DAC6" class="page">
        <StackLayout [formGroup]="finishedSetForm">
            <Button backgroundColor="#018786" color="white" text="Zakończ set" (tap)="finishedSet()"></Button>
            <Label textWrap="true" text="Wprowadź wynik seta" class="h2 description-label"></Label>
            <TextField formControlName="team1Result" hint="Twoja zdobycz punktowa"></TextField>
            <TextField formControlName="team2Result" hint="Zdobycz punktowa przeciwnika"></TextField>
        </StackLayout>
    </ScrollView>
    <Button row="1" backgroundColor="#018786" color="white" text="Zakończ mecz" (tap)="finishedMatch()"></Button>
</GridLayout>
