<ActionBar backgroundColor="#E91E63" color="white" title="Witaj" class="action-bar">
    <NavigationButton text="Cofnij" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<GridLayout backgroundColor="#03DAC6" rows="*,40">
    <ScrollView row="0" backgroundColor="#03DAC6" class="page">
        <StackLayout class="home-panel">
            <Label
                color="#FFFFFF"
                textWrap="true"
                [text]="welcomeLabel"
                class="h2 description-label"
            ></Label>
            <Label
                color="#FFFFFF"
                textWrap="true"
                [text]="teamLabel"
                class="h2 description-label"
            ></Label>
        </StackLayout>
    </ScrollView>
    <Button row="1"  backgroundColor="#018786" color="white" class="btn-login" text="Stwórz mecz" (tap)="createMatch()" pageTransition="slide"> </Button>
</GridLayout>
