<ActionBar backgroundColor="#E91E63" color="white" title="Informacje o meczu" class="action-bar"> 
        <NavigationButton text="Cofnij" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<GridLayout backgroundColor="#03DAC6" rows="*,40">
    <ScrollView row="0" backgroundColor="#03DAC6" class="page">
        <StackLayout [formGroup]="matchForm" class="match-info-panel">
            <Label textWrap="true" text="Wprowadź dane" class="h2 description-label"></Label>
            <Label textWrap="true" text="Wybierz date" class="h3"></Label>
            <DatePicker
                class="date-picker"
                [year]="startDate.getFullYear()"
                [month]="startDate.getMonth()"
                [day]="startDate.getDay()"
                [minDate]="startDate"
                (dateChange)="onDateChanged($event)" 
                verticalAlignment="center"
            >
            </DatePicker>
            <ListPicker [items]="teamsName" (selectedIndexChange)="onSelectedIndexChanged($event)"> class="picker"></ListPicker>
        </StackLayout>
    </ScrollView>
    <Button row="1" backgroundColor="#018786" color="white" text="Stwórz mecz" (tap)="createMatch()" pageTransition="slide"> </Button>
</GridLayout>
