.page {
    align-items: center;
    flex-direction: column;
}
.form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
}
.date-picker {
    height: 20%;
}

h3 {
    font-size: 12px;
}
