.page {
    align-items: center;
    flex-direction: column;
}
.form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
}

.list-group {
    height: 100%;
}

.selected {
    background-color: coral;
}
