<ActionBar backgroundColor="#E91E63" color="white" title="Statystyki" class="action-bar"> 
        <NavigationButton text="Cofnij" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<GridLayout backgroundColor="#03DAC6" rows="*,40">
    <ScrollView row="0" backgroundColor="#03DAC6" class="page">
        <StackLayout class="statistics-panel">
            <Button backgroundColor="#018786" color="white" text="Zakończ set" (tap)="finishedSet()" pageTransition="slide"> </Button>
            <Label textWrap="true" text="Wprowadź ocene" class="h2 description-label"></Label>
            <ListView
                [items]="grades"
                class="list-group"
                margin="5"
                height="500"
                rowHeight="50"
                spanCount="2"
                [itemTemplateSelector]="templateSelector"
                (itemTap)="itemTap($event)"
                row="0"
            >
                <GridLayout rows="*" columns="*, *">
                    <ng-template nsTemplateKey="red" let-item="item" let-i="index">
                        <StackLayout
                            orientation="vertical"
                            [row]="i / 2"
                            [col]="i % 2"
                            backgroundColor="#018786"
                            paddingTop="8"
                            paddingBottom="8"
                            paddingLeft="8"
                            marginLeft="5"
                            marginRight="5"
                            paddingRight="8"
                        >
                            <Label
                                [text]="item"
                                color="white"
                            ></Label>
                        </StackLayout>
                    </ng-template>
                </GridLayout>
            </ListView>
        </StackLayout>
    </ScrollView>
    <Button row="1" backgroundColor="#018786" color="white" text="Zakończ" (tap)="finished()" pageTransition="slide"> </Button>
</GridLayout>
