<ActionBar backgroundColor="#E91E63" color="white" title="Zakończenie meczu" class="action-bar"> 
        <NavigationButton text="Cofnij" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<GridLayout backgroundColor="#03DAC6" rows="*,40">
    <ScrollView row="0" backgroundColor="#03DAC6" class="page">
        <StackLayout class="finished-match-panel">
            <Button row="1" backgroundColor="#018786" color="white" text="Wyloguj się" (tap)="createMatch()" pageTransition="slide"> </Button>
            <Label textWrap="true" text="Twój mecz został zakończony - sprawdź statystyki na stronie!" class="h2 description-label"></Label>
        </StackLayout>
    </ScrollView>
    <Button row="1" backgroundColor="#018786" color="white" text="Stwórz nowy mecz" (tap)="createMatch()" pageTransition="slide"> </Button>
</GridLayout>
