<ActionBar backgroundColor="#E91E63" color="white" title="Home" class="action-bar"> </ActionBar>

<GridLayout backgroundColor="#03DAC6" rows="*,40">
    <ScrollView row="0" backgroundColor="#03DAC6" class="page">
        <StackLayout class="home-panel">
            <Label
                color="#FFFFFF"
                textWrap="true"
                text="Witaj w aplikacji statystyk siatkarskich!"
                class="h2 description-label"
            ></Label>
            <Label
                color="#FFFFFF"
                textWrap="true"
                text="Miej swoją drużyne pod kontrolą!"
                class="h2 description-label"
            ></Label>
        </StackLayout>
    </ScrollView>
    <Button
        row="1"
        backgroundColor="#018786"
        color="white"
        class="btn-login"
        text="Zaloguj się"
        (tap)="login()"
        pageTransition="slide"
    >
    </Button>
</GridLayout>
