<ActionBar backgroundColor="#E91E63" color="white" title="Tworzenie seta" class="action-bar">
    <NavigationButton text="Cofnij" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<GridLayout backgroundColor="#03DAC6" rows="*,40">
    <ScrollView row="0" backgroundColor="#03DAC6" class="page">
        <StackLayout [formGroup]="setForm">
            <TextField
                keyboardType="number"
                maxLength="1"
                formControlName="number"
                hint="Wprowadź numer seta"
            ></TextField>
        </StackLayout>
    </ScrollView>
    <Button
        row="1"
        backgroundColor="#018786"
        alignSelf=""
        color="white"
        text="Stwórz set"
        (tap)="createSet()"
        pageTransition="slide"
    >
    </Button>
</GridLayout>
