<ActionBar backgroundColor="#E91E63" color="white" title="Dokonaj zmiany zawodnika" class="action-bar">
    <NavigationButton text="Cofnij" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<GridLayout>
    <ScrollView backgroundColor="#03DAC6" class="page">
        <StackLayout class="change-player-panel">
            <Label textWrap="true" text="Wprowadź dane" class="h2 description-label"></Label>
            <TextField
                hint="Zawodnik wchodzący"
                [text]="goingPlayer"
                secure="false"
                returnKeyType="done"
                (returnPress)="onReturnPress($event)"
                autocorrect="false"
                maxLength="30"
            >
            </TextField>
            <TextField
                hint="Zawodnik schodzący"
                [text]="outGoingPlayer"
                secure="false"
                returnKeyType="done"
                (returnPress)="onReturnPress($event)"
                autocorrect="false"
                maxLength="30"
            >
            </TextField>
            <Button
                backgroundColor="#018786"
                color="white"
                text="Dokonaj zmiany"
                (tap)="changePlayer()"
                pageTransition="slide"
            >
            </Button>
        </StackLayout>
    </ScrollView>
</GridLayout>
